body {
	margin: 0;
	overflow: hidden;
	font-family: 'Chewy';
	color: #eee;
	letter-spacing: 0.125em;
	display:flex;
}

#panel-a {
	position: absolute;
	display:flex;
	justify-content: flex-start;
	align-items:center;
	bottom: 50px;
	left: 50px;
}

#panel-a h1 {
	margin-top: -5em;
	width: 7%;
	position: relative;
}

#panel-b {
	position: absolute;
	display:flex;
	justify-content: flex-end;
	align-items:center;
	bottom: 50px;
	right: 50px;
}

#panel-b h1 {
	margin-top: -5em;
	width: 7%;
	position: relative;

}

#timeleft {
	position: absolute;
	bottom: 50px;
	left: 50%;
	width: 25vw;
	margin-left: -12.5vw;
	text-align: center;
	cursor: pointer;
	font-size: 3em;
}

#timeleft:hover{
	color:#ffcccc;
}

.button {
	position: relative;
	font-size: 1.5em;
	color: rgba(255,255,255,0.5);
	width:3em;
	height:3em;
	margin:0.5em;
	align-items: center;
	justify-content: center;
	display: flex;
	cursor: pointer;
	border-radius: 25%;
	border: 3px solid white;
}

.active {
	color: crimson;
	border-color: crimson;
}

#headline {
	transform: skewY(-8deg);
	font-size: 2em;
	position: absolute;
	bottom:35vh;
	width: 75vw;
	left: -25vw;
	text-shadow: 6px 6px 0px rgba(32,32,38, 1);
	color: #E0D5A1;
}
